In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv("../data/all_dataset_description.csv")

In [4]:
query = "climate change"

In [5]:
df.shape

(5690, 21)

In [18]:
df["description"] = df["description"].fillna("")
df[df["description"].str.contains(query)]

,Unnamed: 0,did,name,version,uploader,status,format,MajorityClassSize,MaxNominalAttDistinctValues,MinorityClassSize,...,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures,description,qualities,features,Combined_information
3546,3546,43351,Temperature-Readings--IOT-Devices,1,30126,active,arff,NaN,NaN,NaN,...,5.0,97606.0,0.0,0.0,1.0,0.0,Context\nThis dataset is a small snap ( sample...,"AutoCorrelation : -0.22979355565800932, Dimens...","0 : [0 - id (string)], 1 : [1 - room_id/id (st...","did - 43351, name - Temperature-Readings--IOT-..."
3677,3677,43486,Bike-Sharing-Washington-DC,1,30126,active,arff,NaN,NaN,NaN,...,29.0,2922.0,2922.0,51510.0,28.0,0.0,Context\nClimate change is forcing cities to r...,"AutoCorrelation : nan, Dimensionality : 0.0099...","0 : [0 - date (string)], 1 : [1 - temp_avg (nu...","did - 43486, name - Bike-Sharing-Washington-DC..."
3950,3950,43765,CDP-Challenge-Cities-KPI,1,30123,active,arff,NaN,NaN,NaN,...,58.0,615.0,567.0,9612.0,34.0,0.0,Context\nThis dataset is generated after an ep...,"AutoCorrelation : nan, Dimensionality : 0.0943...","0 : [0 - Unnamed:_0 (numeric)], 1 : [1 - Year....","did - 43765, name - CDP-Challenge-Cities-KPI, ..."
3991,3991,43806,Rainfall-in-Kerala-1901-2017,1,30125,active,arff,NaN,NaN,NaN,...,18.0,117.0,0.0,0.0,18.0,0.0,Context\nKerala is a state in South India know...,"AutoCorrelation : nan, Dimensionality : 0.1538...","0 : [0 - SUBDIVISION (string)], 1 : [1 - YEAR ...","did - 43806, name - Rainfall-in-Kerala-1901-20..."

In [21]:
df[df["did"] == 43613]

,Unnamed: 0,did,name,version,uploader,status,format,MajorityClassSize,MaxNominalAttDistinctValues,MinorityClassSize,...,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures,description,qualities,features,Combined_information
3802,3802,43613,Sample-of-Car-Data,1,30123,active,arff,NaN,NaN,NaN,...,23.0,205.0,8.0,10.0,10.0,0.0,Context\nThere's a story behind every dataset ...,"AutoCorrelation : nan, Dimensionality : 0.1121...","0 : [0 - Unnamed:_0 (numeric)], 1 : [1 - make ...","did - 43613, name - Sample-of-Car-Data, versio..."

In [15]:
# row where len description < 10
df[df['description'].str.len() < 10]

,Unnamed: 0,did,name,version,uploader,status,format,MajorityClassSize,MaxNominalAttDistinctValues,MinorityClassSize,...,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures,description,qualities,features,Combined_information
2457,2457,40678,led7,1,869,active,ARFF,341.0,10.0,270.0,...,8.0,3200.0,0.0,0.0,0.0,8.0,led7-pmlb,"AutoCorrelation : 0.9690528290090653, ClassEnt...","0 : [0 - attribute#1 (nominal)], 1 : [1 - attr...","did - 40678, name - led7, version - 1, uploade..."
2459,2459,40681,mux6,1,869,active,ARFF,64.0,2.0,64.0,...,7.0,128.0,0.0,0.0,0.0,7.0,mux6-pmlb,"AutoCorrelation : 0.31496062992125984, ClassEn...","0 : [0 - Address_bit_1 (nominal)], 1 : [1 - Ad...","did - 40681, name - mux6, version - 1, uploade..."
2479,2479,40713,dis,1,869,active,ARFF,3714.0,5.0,58.0,...,30.0,3772.0,0.0,0.0,6.0,24.0,dis-pmlb,"AutoCorrelation : 0.9692389286661363, ClassEnt...","0 : [0 - age (numeric)], 1 : [1 - sex (nominal...","did - 40713, name - dis, version - 1, uploader..."
2485,2485,40869,pathogen_survey_dataset,3,3508,active,ARFF,NaN,17.0,NaN,...,17.0,944.0,0.0,0.0,10.0,7.0,#study_1,"AutoCorrelation : nan, ClassEntropy : nan, Dim...","0 : [0 - id (numeric)], 1 : [1 - x (numeric)],...","did - 40869, name - pathogen_survey_dataset, v..."
2497,2497,40967,feedback,1,4232,active,ARFF,NaN,NaN,NaN,...,3.0,38932.0,0.0,0.0,0.0,1.0,feedback,"AutoCorrelation : nan, Dimensionality : 7.7057...","0 : [0 - S_User_ID (string)], 1 : [1 - S_Descr...","did - 40967, name - feedback, version - 1, upl..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5578,5578,46128,car_rental_process,4,42802,active,arff,NaN,NaN,NaN,...,3.0,22.0,0.0,0.0,1.0,1.0,car data,"AutoCorrelation : nan, Dimensionality : 0.1363...","0 : [0 - Step (numeric)], 1 : [1 - Description...","did - 46128, name - car_rental_process, versio..."
5579,5579,46129,car_rental_process,5,42802,active,arff,NaN,NaN,NaN,...,3.0,22.0,0.0,0.0,1.0,1.0,car data,"AutoCorrelation : nan, Dimensionality : 0.1363...","0 : [0 - Step (numeric)], 1 : [1 - Description...","did - 46129, name - car_rental_process, versio..."
5633,5633,46187,test_surv,1,30127,active,arff,NaN,NaN,NaN,...,3.0,100.0,0.0,0.0,3.0,0.0,test rats,"AutoCorrelation : nan, Dimensionality : 0.03, ...","0 : [0 - status (numeric)], 1 : [1 - time (num...","did - 46187, name - test_surv, version - 1, up..."
5684,5684,46253,MCAD,1,38557,active,arff,NaN,NaN,NaN,...,11.0,124.0,0.0,0.0,10.0,0.0,MCAD,"AutoCorrelation : nan, Dimensionality : 0.0887...","0 : [0 - id (string)], 1 : [1 - Group (numeric...","did - 46253, name - MCAD, version - 1, uploade..."
5687,5687,46258,sonar,2,43180,active,arff,NaN,NaN,NaN,...,61.0,207.0,0.0,0.0,60.0,0.0,data,"AutoCorrelation : nan, Dimensionality : 0.2946...","0 : [0 - 0.0200 (numeric)], 1 : [1 - 0.0371 (n...","did - 46258, name - sonar, version - 2, upload..."

In [3]:
df[df["name"] == "mushroom"]

,Unnamed: 0,did,name,version,uploader,status,format,MajorityClassSize,MaxNominalAttDistinctValues,MinorityClassSize,...,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures,description,qualities,features,Combined_information
19,19,24,mushroom,1,1,active,ARFF,4208.0,12.0,3916.0,...,23.0,8124.0,2480.0,2480.0,0.0,23.0,**Author**: [Jeff Schlimmer](Jeffrey.Schlimmer...,"AutoCorrelation : 0.726332635725717, CfsSubset...","0 : [0 - cap-shape (nominal)], 1 : [1 - cap-su...","did - 24, name - mushroom, version - 1, upload..."
4071,4071,43922,mushroom,3,30861,active,ARFF,4208.0,NaN,3916.0,...,23.0,8124.0,0.0,0.0,0.0,23.0,Mushroom records drawn from The Audubon Societ...,"AutoCorrelation : 0.726332635725717, Dimension...","0 : [0 - class (nominal)], 1 : [1 - cap_shape ...","did - 43922, name - mushroom, version - 3, upl..."
4072,4072,43923,mushroom,4,30861,active,ARFF,4320.0,NaN,2.0,...,9.0,12960.0,0.0,0.0,0.0,9.0,Nursery Database was derived from a hierarchic...,"AutoCorrelation : 0.2393703217840883, Dimensio...","0 : [0 - parents (nominal)], 1 : [1 - has_nurs...","did - 43923, name - mushroom, version - 4, upl..."